*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  


}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  


}

.container {
  width: 100%
}

@media (min-width: 450px) {
  .container {
    max-width: 450px
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1100px) {
  .container {
    max-width: 1100px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.static {
  position: static !important
}

.absolute {
  position: absolute !important
}

.relative {
  position: relative !important
}

.right-2 {
  right: 0.5rem !important
}

.top-10 {
  top: 2.5rem !important
}

.z-10 {
  z-index: 10 !important
}

.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important
}

.block {
  display: block !important
}

.flex {
  display: flex !important
}

.grid {
  display: grid !important
}

.hidden {
  display: none !important
}

.w-full {
  width: 100% !important
}

.min-w-\[140px\] {
  min-width: 140px !important
}

.flex-1 {
  flex: 1 1 0% !important
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important
}

.cursor-pointer {
  cursor: pointer !important
}

.list-none {
  list-style-type: none !important
}

.flex-col {
  flex-direction: column !important
}

.items-start {
  align-items: flex-start !important
}

.items-center {
  align-items: center !important
}

.justify-end {
  justify-content: flex-end !important
}

.justify-center {
  justify-content: center !important
}

.justify-between {
  justify-content: space-between !important
}

.justify-around {
  justify-content: space-around !important
}

.gap-1 {
  gap: 0.25rem !important
}

.gap-10 {
  gap: 2.5rem !important
}

.gap-3 {
  gap: 0.75rem !important
}

.gap-5 {
  gap: 1.25rem !important
}

.text-nowrap {
  text-wrap: nowrap !important
}

.rounded {
  border-radius: 0.25rem !important
}

.border-b {
  border-bottom-width: 1px !important
}

.border-t-2 {
  border-top-width: 2px !important
}

.border-gray-500 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(107 114 128 / var(--tw-border-opacity)) !important
}

.bg-gray-700 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity)) !important
}

.bg-white-100 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(243 243 243 / var(--tw-bg-opacity)) !important
}

.object-contain {
  -o-object-fit: contain !important;
  object-fit: contain !important
}

.p-6 {
  padding: 1.5rem !important
}

.py-5 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important
}

.pb-5 {
  padding-bottom: 1.25rem !important
}

.pt-5 {
  padding-top: 1.25rem !important
}

.text-\[14px\] {
  font-size: 14px !important
}

.font-bold {
  font-weight: 700 !important
}

.font-medium {
  font-weight: 500 !important
}

.italic {
  font-style: italic !important
}

.text-primary {
  --tw-text-opacity: 1 !important;
  color: rgb(44 58 112 / var(--tw-text-opacity)) !important
}

.text-secondray {
  --tw-text-opacity: 1 !important;
  color: rgb(112 140 251 / var(--tw-text-opacity)) !important
}

.text-white {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important
}

.underline {
  text-decoration-line: underline !important
}

.line-through {
  text-decoration-line: line-through !important
}

.no-underline {
  text-decoration-line: none !important
}

.shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1) !important;
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important
}

.invert {
  --tw-invert: invert(100%) !important;
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow) !important
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow) !important
}

.hover\:text-primary:hover {
  --tw-text-opacity: 1 !important;
  color: rgb(44 58 112 / var(--tw-text-opacity)) !important
}

@media (min-width: 1100px) {
  .lg\:flex {
    display: flex !important
  }

  .lg\:hidden {
    display: none !important
  }

  .lg\:gap-4 {
    gap: 1rem !important
  }
}